body{
	background-color: #f1f1f1
}
header.navbar .nav {
	margin-top:5px !important;
}
.top-nav-sticky{
	width: 100%;
	height: 50px;
	position: fixed;
	top:0px;
	background-color: #fff;
	z-index: 1000;
}
header #logo {
	height: 50px;
	width: 100px;
	background-size: cover;
}

.sidebar-left{
	border-top: 1px solid black;
	width: 230px;
	background:#fff;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	z-index: 2000;
}

.container-nopadding{
	padding: 0px !important;
}

.main-wrapper{

}