html{
	height: 100%;
}
body{
	background-color: #f1f1f1;
	font-family: Roboto;
	height:100% !important;
	width:100%;
	margin:0px;
	padding:0px;
	overflow: auto;
}
header.navbar .nav {
	margin-top:5px !important;
}
.top-nav-sticky{
	width: 100%;
	height: 50px;
	position: fixed;
	top:0px;
	background-color: #fff;
	z-index: 1000;
	border-bottom: 1px solid #d1d2d4;
}
header .logo {
	height: 50px;
	margin-left: 20%;
}

.sidebar-left{
	background:#fff;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	margin-top: 50px;
	z-index: 1000;
	/*box-shadow: 5px 10px 15px 5px rgba(0,0,0,.1);*/
}

.user-data{
	margin-bottom: 10px;
}

.user-data a{
	text-transform: uppercase;
	text-decoration: none;
	font-size: 0.7em;
}
.user-data h2 a{
	text-transform: none;
	font-size: 0.9em;
}
.user-data score{
	font-size: 1.6em;
}

.top-user-img{
	height: 145px;
	overflow: hidden;
}
.top-user-img img{
	position: relative;
	top: -20px;
}

.sidebar-content{
	overflow-y:hidden;
	padding-right: 7px;
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	height:45%;
}
.sidebar-content:hover{
	overflow-y:scroll;
	padding-right: 1px;
}
.all-container{
	width: 100%;
	/*width: 100%;*/
	overflow-y:auto;
	margin:0px;
	padding:0px !important;
	/*margin-right: 20px;*/
}
@media (max-width: 750px) {
	.all-container{
		margin-top:120px;
		padding-top: 10px;
	}
	.top-nav-sticky{
		height: auto;
		padding-bottom: 10px;
	}
	.second-nav{
		padding-left: 10% !important;
	}
}
@media (max-width: 992px) {
	
}

.second-nav{
	height:40px;
	background-color: white;
	padding-left: 19%;
}
.second-nav a{
	line-height: 40px;
	margin-right: 20px;
	color: #000;
}
.active{
	border-bottom: 3px solid #CC181E;
}

.all-container::-webkit-scrollbar
{
  width: 20px;  /* for vertical scrollbars */
  background-color: #fff;
  scrollbar-face-color: #367CD2;
}
::-webkit-scrollbar-thumb  { 
	background-color: #777777;
 }

 .main-content{
	padding-top:110px;
	padding-left: 30px; 
	padding-right: 20px;
	min-height: 600px;
 }
/*

::-webkit-scrollbar
{
  width: 7px;   for vertical scrollbars 
  background-color: #ccc;
}*/
.sidebar-left hr{
	margin-top:10px !important;
	margin-bottom:10px !important;
}
.nopadding{
	padding: 0px !important;
}
.container-fluid{
	padding:0px !important;
}
.body-container{
	height: 100px;
	min-height: 100%;
}

.search-form{
	padding-left: 2%;
	padding-top:7px;
}

/*LANGGANAN BOX*/

.langganan-box{
	margin-top:10px;
}
.langganan-box h4{
	font-size: 0.9em;
	/*font-weight: lighter;*/
	margin:0px;
	text-transform: uppercase;
	color: #CC181E;
}

.langganan-box ul{
	margin:0px;
	padding:0px;
	margin-top:10px;
}

.langganan-box ul li{
	margin-top:5px;

}
.langganan-box ul li a{
	display: block;
	text-decoration: none;
	padding:5px;
	color:#000;
	font-size: 0.9em;
}
.langganan-box ul li a:hover{
	display: block;
	background-color: #5d5d5d;
	color:white;
}
.langganan-thumb{
	width:50px;
	height:50px;
}
.langganan_name{
	margin-left: 5px;
	font-weight: bold;
	width: 100%;
}
.langganan_name:hover{
	color:white;
}

/*TOP SHORTCUT*/
.top-shortcut a{
	line-height: 50px;
	font-size: 1.4em;
	float:left;
	margin-left:16px;
}
.top-shortcut img{
	max-height: 40px;
	margin-top:5px;
}

.top-shortcut .btn{
	line-height: 20px;
	font-size: 1em;
	margin-top: 10px;
}

footer{
	height: 93px;
	background-color: #fff;
	padding:16px;
}
footer a{
	color: #111;
	margin-right: 10px;
	font-size: 0.9em;
}
.bottom-footer{
	font-size: 0.9em;
}
.collapse-langganan{
	min-height: 20px;
	background-color: #fff;
}

.content-fullwidth{
	width: 97%;
	min-height: 200px;
	background-color: white;
	padding:16px;
}

.summary-box-1{
	min-height: 300px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
}
hr{
	margin-top:10px;
	margin-bottom:10px;
}
.summary-box-1 h4{
	display:block;
	width: 220px;
	text-transform: uppercase;
	margin:0px;
	padding:0px;
	background-color: #CC181E;
	padding:4px;
	color: #fff;
}

.item-box{
	height: 230px;
}
.item-box img{

}
.box-img-container{
	width: 100%;
	height: 145px;
	overflow: hidden;
}

.item-box h6{
	font-weight: normal;
	font-size: 1.08em;
	margin-bottom: 0px;
}
.box-summary-name{
	font-weight: lighter !important;
	color:#666;
}
.box-summary-comment{
	font-weight: lighter !important;
	font-size: 0.8em;
}

.item-box-vertical{
	height:130px;
}
.item-box-vertical img{
	height:100px;
}

.nomargin{
	margin:0px;
}

.default-wrapper{
	background-color: #fff;
	border-radius: 3px;
	min-height: 150px;
	/*margin:-5px;*/
	/*padding: -15px;*/
	width: 100%;
	margin-bottom: 20px;
}

.fullwidth-image{
	max-height:400px;
	overflow: hidden;
	background-color: #272822;
}
.fullwidth-image img{
	/*width: 100%;
	height: 20%;*/
}

.btn-change-photo{
	margin:7px;
	background-color: #fff;
	font-size: 1.3em
}

.btn-change-photo:hover{
	/*background-color: #BCD5F1;*/
	border: 1px solid blue;
	border-radius: 2px;
	color:#000;
}

.normal-padding{
	padding:10px;
}
.big-padding{
	padding:20px;
}
.thumbnail-me{
	max-width: 150px;
	max-height: 150px;
}

.max400{
	max-width: 400px;	
}
.profile-info-name{
	font-size: 4em;
	margin-top: 5px;
}
.profile-info-sub p{
	text-transform: uppercase;
	font-size: 0.9em;
}
.profile-info-sub h3{
	text-transform: uppercase;
	font-size: 1.8em;
	margin: 0px;
	padding:0px;
}
.profile-info-buttonsunting{
	padding-top: 20px;
}
.blue-banner{
	background-color: #0F75BC;
}

.register-banner p{
	color: white;
}

.social-register i{
	float: left;
	display: block;
	width: auto;
	font-size: 2.3em;
	margin-right: 5px;
}
.comment-item{
	margin-bottom: 10px;
	padding:5px;
}

.comment-image{
	float:left;
	width: auto;
}

.comment-text{
	margin-left: 10px;
	float:left;
	max-width:88%;
}

.tab-content{
	padding:0px;
	border:0px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	border:none;
}
.search-item{
	height: 140px;
}
.search-image{
	float: left;
	max-width: 30%;
}
.search-image img{
	/*width: 100%;*/
	max-height: 130px;
}
.search-text{
	float: left;
	max-width: 68%;
	height: 100%;
	margin-left: 10px;
}
.search-text h4{
	margin-top: 0px;
	display: block;
	height: 65%;
	overflow: hidden;
}
.search-text b{
	background-color: yellow;
	padding:0px 1%;
}

.common-menu ul{
	padding:0px;
}
.common-menu li{
	list-style: none;
}
.common-menu a{
	font-weight: bolder;
	text-transform: uppercase;
	color: #000;
}
.dropdown-menu{
	top: 50px;
    left: -150px;
    font-size: 0.8em;
    width: 350px;
}
.dropdown-menu li{
	width: 200px;
}
.little-img{
	float:left;
	margin-top: -20px;
	border:3px solid #fff;
}
.user-data-name{
	float:left;
	margin-top: 0px;
	margin-bottom: 2px;
	margin-left:7px;
}
.dropdown-me li a{
	font-size: 1.1em;
	margin-left: 0px;
	display: block;
}
.dropdown-me li:hover{
	background-color: none;
}
.dropdown-menu li a{
	font-size: 1.5em;
	margin-left: 5px;
}
.dropdown-menu li a:hover{
	color: #0F75BC;
	background-color: white !important;
	background-image: none !important;
}